<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/index}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/perfil}">Perfil</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br /><br /><br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Create Post</h2>
            </div>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You have successfully created a post on our app!
                </div>
            </div>
            <div class="card-body">
                <form 
                method="post" 
                role="form" 
                th:object="${post}"
                th:action="@{/createPost/save}">
                    <div class="form-group mb-3">
                        <label class="form-label">Title</label>
                        <input class="form-control" id="title" name="title" placeholder="Enter the title" type="text" />
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">Content</label>
                        <textarea class="form-control" id="content"  name="content" placeholder="Enter the content" rows="5"></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label class="form-label">University</label>
                        <select class="form-control" id="universityDrop" name="idUni">
                          <option value="">Select University</option>
                          <option th:each="university : ${universities}" th:value="${university.idUni}" th:text="${university.idUni}+' : '+${university.name}"></option>
                        </select>
                      </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>  
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>